local/*
pip-selfcheck.json
config.R
mysql_config.py
childes-db-py3/*
.ipynb_checkpoints
.idea 
config.py
config.json
.DS_Store
._*
*.pyc
*.log
djangoapp/.idea
.Rproj.user
.Rhistory
.secrets
redivis/staging/
pipeline/raw/
pipeline/work/
pipeline/validation/
pipeline/parquet_proto/
pipeline/__pycache__/
pipeline/*.log
jp/
